:root {
  --title-color: #292f36;
  --hover-color: #cda274;
  --beige-color: #f4f0ec;
  --white-color: #ffffff;
  --text-color: #4d5053;
  --font-title: "DM Serif Display", "sans-seif";
  --font-text: "Jost", "sans-serif";
}
